
html, body{
    height: 100%;
    background-color: #FFFFFF;
}

#main{
    height: 100%;
}

#imageBody{
    height: 100%;
    position: relative;
    top: 35px;
    left: 365px;
}

.banner{
    height: 150px, width: 100%;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    background-color: white;
    border-top: 1px solid #CCC;
    border-bottom: 5px solid #A0935F;
    padding: 25px;
    margin-top: 12.299em;
}

.imageBanner{
    width: 100%;
    position: absolute;
    top: 5px;
    left: 565px;
}

*{
    margin:0px;
    padding:0px;
}

#header #header2 welcomeMessages{
    margin: auto;
    width: 560px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

ul, ol {
    list-style: none;
}

.welcomeMessages{
    padding: 20px;
    margin: 15px 200px 25px;
    border: 2px solid #A0935F;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #FFFFFF;
    background: #A0935F;
    font-size: 22px !important;
}

.nav > li {
    float: left;
}

.nav2 > li{
    float: left;
}

.nav li a {
    background-color: white;
    border-left: 1px solid #A0935F;
    border-right: 1px solid #A0935F;
    color: black;

    text-decoration: none;
    padding: 9.5px 30px;
    margin: 0.5em 0em 0em 0em;
    display: block;
    align-content: center;
}

.nav2 li a {
    background-color: white;
    border-top: 1px solid gray;
    border-bottom: 4px solid #A0935F;
    border-radius: 25px;
    color: black;

    text-decoration: none;
    padding: 9.5px 30px;
    display: block;
}

.messages li {
    background-color: black;
}

.nav li a:hover {
    background-color: #f9f9f9;
}

.nav2 li a:hover{
    background-color: #f9f9f9;
}

.nav li ul {
    display: none;
    position: relative;
    min-width: 40px;
}

.nav2 li ul {
    display: none;
    position: relative;
    min-width: 40px;
}

.nav li:hover > ul {
    background-color: #f8f8f8;    
}

.nav2 li:hover > ul {
    background-color: #f8f8f8;
}

.nav li ul li {
    position: relative;
}

.messages li ul li {
    position: relative;
}

.nav2 li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.nav2 li ul li ul {
    right: -140px;
    top: 0px;
}

div h3{
    color: black;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

#footer{
  text-decoration-style: black;
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 20px;
  font-size: 11px !important;
}

